/*---------HEADER------------*/

.navbar {
  margin-bottom: 0;
}
.jumbotron {
  background: #428bca;
  color: white;
  padding: 20px 0;
}


/*--------------------   Footer  ---------------------*/
.social {
  color: #fff;
  margin-top: 60px;
}
.social [class^="flaticon-"] {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  padding: 1px;
  background: transparent;  
  width: 50px;
  height: 50px;
  line-height: 80px;  
  margin: 10px;
  margin-top: -5px;
}

/*-------------------- Formulario ---------------------*/

.formulario {
  margin-top: 8em;
  margin-bottom: 5em;
}

/*-------------------- Ejemplos de modal ---------------------*/

.ejemplos{
  margin-top: 8em;
  margin-bottom: 5em;
}

/*-------------------- Estilos de main ---------------------*/

.main{
  margin-top: 8em;
  margin-bottom: 5em;
}

/*--------------------POST--------------------*/

.post {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999999;
}
.post .post-title a {
  color: #333333;
}
.post .thumb {
  margin-right: 10px;
  width: 40%;
}
.post .thumb img {
  width: 100%;
}
.post .contenedor-botones {
  width: 100%;
}
.col-xs-6 {
  text-align: right;
}

/*-------Media Querie*/

@media screen and (max-width: 768px) {
  .post .thumb {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

/*-------Media Querie*/

@media screen and (max-width: 768px) {
  .post .thumb {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
